{{!-- <div class="card">
    <div class="card-header"> 
    </div>
    <div class="card-body">
     <h3>{{post.title}}</h3>  <p>: {{post.user.name}} on: {{post.date}}</p>
      <div class="card">
        <div class="card-body">
          {{post.content}}
        </div>
        
      </div>
    </div>
</div> --}}

{{!-- Use this to display an individual post and a comment text box for the post. --}}

<div>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Post ID</span>
    <input type="text" class="form-control" id="unique-id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>

  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
    <input type="text" class="form-control" id="edit-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  <input type="hidden" name="post_id" value="{{post.id}}"/>
  </div>
  {{!-- <input type="hidden" name="post-id" value="{{post.id}}"/> --}}
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Content</span>
    <input type="text" class="form-control" id="edit-content" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    <button class="btn btn-outline-secondary bg-info text-dark" type="button" id="button-addon1">Update post</button>
    </div>
    
  <button class="btn btn-outline-secondary bg-info text-dark" type="button" id="delete">DELETE POST by ID</button>
  <span>Post id number must be entered to delete post</span>

  </div>
</div>

<script src="/js/userposts.js"></script>